/* 
  index.css - Neutralized to prevent conflicts with styles.css
  All styling is handled by styles.css and component-specific CSS files
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
